<div class="row signin">
    <div class="col-md-6 col-md-offset-3 panel">
        <form class="js-form-signin">
            <div class="panel-heading">
                <h3 class="panel-title h3-red">Login to your account</h3>
                <div>not a customer yet? <a href="/auth/signup" >Sign Up for free</a></div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>E-mail</label>
                    <input name="email" type="email" class="form-control" placeholder="E-mail">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input name="password" type="password" class="form-control" placeholder="Your password">
                </div>
                <div class="form-group row">
                    <div class="col-md-6"><button class="btn-login">Login</button> </div>
                    <div class="col-md-6" id=""><a href="/auth/forgot">Forgot password</a></div>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"/> Remember me</label>
                </div>
            </div>
        </form>
    <!-- Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close js-close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Error</h4>
                </div>
                <div class="modal-body">
                    Email or password mismatch!
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default js-close" data-dismiss="modal">Close</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    </div>
</div>




