@import "../variables";

.btn {
  border-radius: 6px;
  border:0;
  font-family: Lato-Bold;
  &:focus {outline:0;}
  text-transform: uppercase;
}


.btn-info {
  @extend .btn;
  color: #50c1e9;
  border: 2px;
  border-style: solid;
  border-color: #50c1e9;
  background-color: #ffffff;
  &:hover {
    background-color: #f1f6f8;
    color: #50c1e9;
  }
  &:focus {
    background-color: #f1f6f8;
    color: #50c1e9;
  }
}
.btn-success {
  @extend .btn;
  box-shadow: 0 2px 0 0 #3fb598;
  background-color: #48cfae;
  &:focus {
    background-color: #3fb598;
  }
  &:hover {
    background-color: #3fb598;
  }
}

.btn-primary {
  @extend .btn;
  box-shadow: 0 2px 0 0 $blue;
  background-color: #50c1e9;
  &:focus {
    background-color: $blue;
  }
  &:hover {
    background-color: $blue;
  }
}