.carousel {
  margin-top: 0px;
  margin-left: -25px;
  margin-right: -25px;
}

.carousel-control {
  top: 50%;
}

.carousel-h1 {
  position: absolute;
  top: 15%;
  font-size: medium;
  text-align: left;
  width: 100%;
  height: 150px;
  color: #fff;
  font-size: 50px;
  font-family: "Lato-Bold";
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.carousel-caption {
  position: absolute;
  left:  65%;
  bottom: 0;
  font-size: medium;
  text-align: left;
  width: 500px;
  height: 200px;
  background-color: rgba(200, 84, 87, .8);
}

.carousel-control {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  background: rgba(0, 0, 0, .0);
}

.carousel-control .icon-prev,
.carousel-control .icon-next {
  margin-top: -20px;
}

.item {
  color: #666;
  background: #333;
  height: auto;
  font-size: 52px;
  text-align: center;
  font-family: "trebuchet ms", sans-serif;
}