@font-face {
  font-family: 'Lato-Bold';
  src: url('/fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/lato/Lato-Bold.woff') format('woff'),
  url('/fonts/lato/Lato-Bold.ttf')  format('truetype'),
  url('/fonts/lato/Lato-Bold.svg#Lato-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}