html, #page_loader, body {
  height: 100%;
  min-height: 100%;
}

#page_loader {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.content-wrapper {
  flex: 1 100%;
}

#helpers-footer {
  align-self: flex-end;
  flex: 1 100%;
  display: block;
  padding: 23px 0 0;
  border: solid #080808;
  border-width: 1px 0 0;
  font-size: small;
  color: #757880;
  background-color: #22262f;

  .social-btns {
    float: right;
    text-align: right;
    padding: 11px 0 0;

    a {
      @extend .fa;
      @include border-radius(3px);
      color: #22262f;
      padding: 4px;
      margin: 0 0 0 5px;
      background: rgba(255, 255, 255, .3);

      &.site {
        @extend .fa-copyright;
      }
      &.facebook {
        @extend .fa-facebook;
      }
      &.google-plus {
        @extend .fa-google-plus;
      }
      &.twitter {
        @extend .fa-twitter;
      }
      &.rss {
        @extend .fa-rss;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}
