@import "../variables";
@import "../vendors/Font-Awesome/font-awesome";

header {
  background: #ffffff;

  .navbar-default {
    background: #ffffff;
    border: 0;
    padding-top: 16px;
    font-size: 13px;
  }

  .nav-bar-btn-contact {
    @extend .btn-success;
    margin-top: 8px;
    margin-left: 25px;
    width: 140px;
  }

  .nav-bar-btn-search {
    @extend .btn-primary;
    margin-top: 8px;
    color: #ffffff;
    font-size: 15px;
  }

  .nav-bar-btn-login {
    @extend .btn-info;
    margin-top: 8px;
    width: 100px;
    margin-left: 70px;
  }

  .search-btn-cancel {
    border: 0;
    background: #ffffff;
    color: $green;
    font-size: 15px;
  }

  .search-btn-microphone {
    border: 0;
    background: #ffffff;
    color: $green;
    font-size: 15px;
  }

  .input-search {
    border: 0;
    border-bottom-width: 2px;
    border-bottom-color: $green;
    border-style: solid;
    outline:none;
    &:focus{
      border-bottom-color: $green;
      outline: none;
    }
  }

  .logo img {
    width: 100% \9; /*Force IE10 and below to size SVG images correctly*/
    max-width: 100%;
    margin-top: 10px;
  }

  .search-popup {
    display: none;
    position: absolute;
    height: 90%;
    left: 190px;
    top: 24px;
    right: 50px;
    background: #fff;
  }
}