input, textarea {
  border: 1px solid;
  box-shadow: none;
  border-radius: 0;
}

.link-radio-group {
  .radio {
    display: inline-block;
    margin: 0 5px 0 10px;
    position: relative;

    input {
      width: 0;
      height: 0;
      position: absolute;
      visibility: hidden;
    }

    label {
      color: $blue;
      padding: 2px 0 0;
      border-bottom: 1px dashed;
      font-weight: normal;
    }

    :checked + label {
      border-radius: 3px;
      padding: 2px 5px;
      background: $blue;
      color: #fff;
      border: none;
    }
  }
}