/*
Sass::SyntaxError: "login btn-login" failed to @extend ".btn-primary".
The selector ".btn-primary" was not found.
Use "@extend .btn-primary !optional" if the extend should be able to fail.


Backtrace:
login.scss:6
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/tree/visitors/extend.rb:65:in `block in check_extends_fired!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/util/subset_map.rb:106:in `block in each_value'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/util/subset_map.rb:106:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/util/subset_map.rb:106:in `each_value'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/tree/visitors/extend.rb:50:in `check_extends_fired!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/tree/visitors/extend.rb:16:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/tree/root_node.rb:39:in `css_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/engine.rb:368:in `_render_with_sourcemap'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/engine.rb:285:in `render_with_sourcemap'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/plugin.rb:82:in `update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/exec/sass_scss.rb:361:in `watch_or_update'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.14/bin/scss:13:in `<top (required)>'
C:/Ruby193/bin/scss:23:in `load'
C:/Ruby193/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: \"login btn-login\" failed to @extend \".btn-primary\".\A The selector \".btn-primary\" was not found.\A Use \"@extend .btn-primary !optional\" if the extend should be able to fail.\A "; }
