.panel {
  .panel-heading {
    padding: 10px 30px;

    h3 {
      color: $red;
      font-family: "Lato", serif;
      font-size: 21px;
      font-weight: bold;
    }
  }

  .panel-body {
    padding: 15px 30px;
  }

  .panel-footer{
    border-top-color: #50c1e9;
    background-color: transparent;
    margin: 0px 30px;
  }

  &.login {
    width: 33%;
  }

}