@import "../variables";
@import "../vendors/Font-Awesome/font-awesome";
@import "./btn";

.signin {
  .btn-login{
    @extend .btn-primary;
    width: 200px;
  }

  .modal{
    top:30%
  }
  .modal-title{
    color: $red;
  }

  .msg{
    width: 100px;
    height: 80px;
  }

}