.submenu {
  margin-bottom: 15px;

  .sub-item {
    @extend .col-md-4;
    text-align: center;

    .caption {
      @extend .h3;
      border-bottom-width: 1px;
      border-bottom-color: #ed5564;
      font-family: "Lato", serif;
      font-size: 21px;
      display: inline-block;
      border-bottom-style: solid;
    }
    .sub-text {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
}

