<!-- Register -->
<br><br>
<div class="panel">
    <form>
        <div class="panel-heading">
            <h3 class="panel-title">Create Account</h3>
        </div>

        <div class="panel-body">
            <div class="form-group link-radio-group">
                <span>Choose, would you like:</span>

                <span class="radio">
                    <input type="radio" name="role" id="input_role1" value="val1" checked>
                    <label for="input_role1">to be a customer</label>
                </span>

                <span class="radio">
                    <input type="radio" name="role" id="input_role2" value="val2">
                    <label for="input_role2">to be IMLS</label>
                </span>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>First Name</label>
                            <input name="first_name" type="text" class="form-control" placeholder="First Name">
                        </div>
                        <div class="col-md-6">
                            <label>Last Name</label>
                            <input name="last_name" type="text" class="form-control" placeholder="Last Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>E-mail</label>
                        <input name="email" type="email" class="form-control" placeholder="E-mail">
                    </div>

                    <div class="form-group">
                        <label>Web-page</label>
                        <input name="web" type="url" class="form-control" placeholder="Web-page">
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Office Phone Number</label>
                            <input name="office_phone" type="phone" class="form-control" placeholder="Office Phone Number">
                        </div>
                        <div class="col-md-6">
                            <label>Cell Phone Number</label>
                            <input name="cell_phone" type="phone" class="form-control" placeholder="Cell Phone Number">
                        </div>
                        <div class="col-md-6">
                            <label>Home Phone Number</label>
                            <input name="home_phone" type="phone" class="form-control" placeholder="Home Phone Number">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Address</label>
                        <input name="address" type="text" class="form-control" placeholder="Address">
                    </div>

                    <div class="form-group row">
                        <div class="col-md-10">
                            <label>City</label>
                            <input name="city" type="text" class="form-control" placeholder="City">
                        </div>
                        <div class="col-md-2">
                            <label>State</label>
                            <select name="state" class="form-control" placeholder="State">
                                <option value="">USA</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Postal Code</label>
                            <input name="postal_code" type="text" class="form-control" placeholder="Postal Code">
                        </div>
                        <div class="col-md-8">
                            <label>Country</label>
                            <select name="country" class="form-control" placeholder="Country">
                                <option value="">USA</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <label>Questions/Comments</label>
                    <textarea name="comments" class="form-control" placeholder="Questions/Comments" rows="15"></textarea>
                </div>
            </div>
        </div>

        <div class="panel-footer text-center">
            <button class="btn btn-primary js-btn-signup">Create account</button>
            <a>Or send us voice mail <i class="fa fa-file-audio-o"></i></a>
        </div>
    </form>
</div>