<div class="row login">
    <div class="col-md-6 col-md-offset-3 panel">
        <form class="js-form-forgot">
            <div class="panel-heading">
                <h3 class="panel-title">Password restore</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>E-mail</label>
                    <input name="email" type="email" class="form-control" placeholder="E-mail">
                </div>

            </div>

            <div class="panel-footer text-center">
                <button class="btn btn-primary">Restore</button>
                <a href="/auth/signup">Or sign up <i class="fa fa-file-audio-o"></i></a>
            </div>
        </form>
    </div>
</div>