<ul class="nav" role="tablist">
    <li {{#if isActive.about}}class="active"{{/if}}>
        <a href="/about">{{l10n "ABOUT"}}</a>
    </li>
    {{#if userAuth}}
        <li class="user-widget">
            <cat-userWidget id="userWidget-content" cat-store="CurrentUser"></cat-userWidget>
        </li>
    {{else}}
        <li {{#if isActive.register}}class="active"{{/if}}>
            <a href="/signup">{{l10n "SIGN_UP"}}</a>
        </li>
        <li {{#if isActive.signin}}class="active"{{/if}}>
            <a href="/signin">{{l10n "SIGN_IN"}}</a>
        </li>
    {{/if}}
    <li class="l10n-widget">
        <cat-l10nWidget id="l10nWidget-content"></cat-l10nWidget>
    </li>
</ul>