<header>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="#" class="logo">
                    <img src="/assets/header/logo.png"/></a>
                </a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden-sm"><a href="/about/">ABOUT US</a></li>
                    <li class="hidden-sm"><a href="/properties/">PROPERTIES</a></li>
                    <li class="hidden-sm hidden-md"><a href="/extra">EXTRA CONTENT INFORMATION</a></li>
                    <li class="hidden-sm"><a href="/help">HELP</a></li>
                    <li class="hidden-lg hidden-md hidden-sm"><a href="/auth/login">LOGIN</a></li>
                    <li class="hidden-lg hidden-md hidden-sm"><a href="/extra">CONTACT US</a></li>
                    <li class="hidden-lg hidden-md hidden-sm"><a href="/extra">SEARCH</a></li>

                    <!--- The "more" dropdown menu item will be hidden on extra-small displays. --->
                    <li class="dropdown hidden-xs hidden-lg">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">MORE <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="hidden-lg hidden-md"><a href="/blackouts/">ABOUT US</a></li>
                            <li class="hidden-lg hidden-md"><a href="/tasks/">PROPERTIES</a></li>
                            <li class="hidden-lg"><a href="/songs/">EXTRA CONTENT INFORMATION</a></li>
                            <li class="hidden-lg hidden-md"><a href="/help">HELP</a></li>
                        </ul>
                    </li>
                    <li><button class="nav-bar-btn-login hidden-xs">LOGIN</button></li>
                    <li><button class="nav-bar-btn-contact hidden-xs">CONTACT US</button></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><button class="nav-bar-btn-search hidden-xs"><i class="fa fa-search"></i></button></li>
                </ul>
                <div id="search-popup" class="search-popup hidden-xs">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="search-btn-cancel" type="button"><i class="fa fa-times"></i></button>
                        </span>
                        <input type="search" class="form-control input-search" placeholder="Search"/>
                        <span class="input-group-btn">
                            <button class="search-btn-microphone" type="button"><i class="fa fa-microphone"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>