<meta charset="UTF-8">
<title>{{title}}</title>

<link rel="stylesheet" href="/css/theme.css">

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bundle.js"></script>