<div class="row login">
    <div class="col-md-6 col-md-offset-3 panel">
        <form class="js-form-restore">
            <div class="panel-heading">
                <h3 class="panel-title">Password restore</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>New password</label>
                    <input name="password" type="password" class="form-control" placeholder="New password">
                </div>
                <div class="form-group">
                    <label>Confirm password</label>
                    <input name="password_confirm" type="password" class="form-control" placeholder="Repeat password">
                </div>

            </div>

            <div class="panel-footer text-center">
                <button class="btn btn-primary js-btn-Restore">Restore</button>
                <a href="/auth/signup">Or sign up <i class="fa fa-file-audio-o"></i></a>
            </div>
        </form>
    </div>
</div>