<div class="container">
    <div id="myCarousel" class="carousel">
        <div class="carousel-inner">
            <div class="active item">
                <img src="/assets/index/slide1.jpg" alt=""/>
<div class="carousel-h1">Search our exclusive list of cherry picked<br> investment properties nationwide!</div>
                <div class="carousel-caption">
                    <p>< > Memphis, TN 38141<br>
                        Price: $62,900<br>
                        Total Return on Investment: 39%</p>
                </div>
            </div>
            <div class="item">
                <img src="/assets/index/slide2.jpg" alt=""/>

                <div class="carousel-caption">
                    <p>< > Memphis, TN 38141<br>
                        Price: $62,900<br>
                        Total Return on Investment: 39%</p>
                </div>
            </div>
            <div class="item">
                <img src="/assets/index/slide3.jpg" alt=""/>

                <div class="carousel-caption">
                    <p>Memphis, TN 38141<br>
                        Price: $62,900<br>
                        Total Return on Investment: 39%</p>
                </div>
            </div>
            <div class="item">
                <img src="/assets/index/slide4.jpg" alt=""/>

                <div class="carousel-caption">
                    <p>Memphis, TN 38141<br>
                        Price: $62,900<br>
                        Total Return on Investment: 39%</p>
                </div>
            </div>
        </div>
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <div class="submenu row">
        <div class="sub-item">
            <div class="caption"><b>Sell</b> Properties</div>
            <div class="sub-text"> Experienced professionals guiding your<br>investments one step at a time</div>
            <button class="btn-primary"> sell properties</button>
        </div>
        <div class="sub-item">
            <div class="caption"><b>Buy</b> Properties</div>
            <div class="sub-text">Search our exclusive list of cherry picked<br>investment properties nationwide</div>
            <button class="btn-primary"> sell properties</button>
        </div>
        <div class="sub-item">
            <div class="caption"><b>Learn</b> More</div>
            <div class="sub-text">Financial investment secrets for beginner<br>and advanced property investors</div>
            <button class="btn-primary"> sell properties</button>
        </div>
    </div>

</div>