<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3"><i class="site"> </i>imls.com 2015</div>
                    <div class="col-md-2">About US</div>
                    <div class="col-md-3">Privacy Policy</div>
                    <div class="col-md-3">Terms of Service</div>
                    <div class="col-md-1">Help</div>
                </div>
            </div>
            <div class="col-md-4">
                Contact Us:Contact Us: (714) 820-4200<br>
                10801 Walker Street Suite 200 Cypress CA 90630 - DRE #01525020
            </div>
            <div class="col-md-2 social-btns">
                <a href="" class="facebook"></a>
                <a href="" class="google-plus"></a>
                <a href="" class="twitter"></a>
                <a href="" class="rss"></a>
            </div>
        </div>
    </div>
</footer>