{{#if isActive.err404}}
    <cat-err404 id="page-err404" cat-store="err404"></cat-err404>
{{else}}
    <div class="content-wrapper">
        <cat-header id="helpers-header" cat-store="Header" data-is-logged="{{is_logged}}"></cat-header>

        {{#if isActive.index}}
            <cat-index id="page-index" cat-store="Index"></cat-index>
        {{else}}
            <cat-navbar id="helpers-navbar" cat-store="Pages"></cat-navbar>

            {{#if isActive.auth}}
                <div class="signin-page">
                    <cat-auth id="page-auth" cat-store="AuthPages"></cat-auth>
                </div>
            {{/if}}
        {{/if}}
    </div>

    <cat-footer id="helpers-footer" cat-store="Header"></cat-footer>
{{/if}}
