$icon-font-path: "/fonts/bootstrap/";
$fa-font-path: "/fonts/font-awesome";

$blue: #46aacf;
$green: #48cfae;
$red: #ed5564;

$body-bg: #f1f6f8;

$input-border-focus: $green;
$input-border: $green;

//$border-radius-small: 8px;
//$input-border-radius-small: 0;