<div id="locale" class="ui icon top right pointing dropdown">
    <i id="locale-icon" class="{{ currentLocaleClass }}"></i>
    <div class="menu">
        <div class="item" data-value="en-us">
            <i class="united states flag"></i> EN
        </div>
        <div class="item" data-value="ru">
            <i class="russia flag"></i> RU
        </div>
        <div class="item" data-value="uk">
            <i class="ukraine flag"></i> UK
        </div>
    </div>
</div>