<div class="container">
    {{#if isActive.signin}}
        <cat-signin id="page-signin" data-store="Signin"></cat-signin>
    {{/if}}

    {{#if isActive.signup}}
        <cat-signup id="page-signup" data-store="Signup"></cat-signup>
    {{/if}}

    {{#if isActive.forgot}}
        <cat-forgot id="page-forgot" data-store="Forgot"></cat-forgot>
    {{/if}}

    {{#if isActive.restore}}
        <cat-restore id="page-restore" data-store="Restore"></cat-restore>
    {{/if}}

    {{#if isActive.err404}}
        <cat-err404 id="page-err404" cat-store="err404"></cat-err404>
    {{/if}}
</div>